@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 52px;
}

.btn-unfollow {
  margin-bottom: 10px;
}

.friend_name {
  font-size: 1.2em;
  margin-top: 10px;
}

.search-result {
  padding-top: 50px;
  font-size: large;
}

.result {
  margin-bottom: 15px;
}

.message-font {
  font-size: 1.5em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.member {
  font-size: 1.5em;
}

.paginate {
  margin-left: -0.9em;
}

.show-header {
  padding-bottom: 15px;
}

a.link:visited {
  color: #fff;
}

#new-exer-btn {
  margin-left: -1%;
}
